<html lang="en">
{% with %}
    {% set title="Home" %}
    {% include "header.html"%}
{% endwith %}

<body>
	{% include "navbar.html" %}
	<div class="container-fluid">
		{% set context = "index" %}
		<main role="main" class="shadow" style="margin-bottom: 10rem !important;">
            <div style="display: flex; flex-direction: row; align-items: center;">
                <h1 class="pb-4 mt-4" style="margin-left:25px">Конфигурации</h1>
				<div class="btn-manage-group ml-auto">
					<button type="button" class="btn btn-primary add_btn" id="toggleAddConfiguration"><i class="bi bi-plus-lg"></i></button>
				</div>
				
            </div>
            <div class="index-alert alert alert-danger d-none" role="alert">
                Смена состояния конфигурации не удалась. Возникла следующая ошибка:
            </div>
            <pre class="index-alert index-alert-full d-none"><code></code></pre>

            {% if conf == [] %}
                <p class="text-muted">Не найдено ни одной конфигурации. Проверьте директорию конфигурации или измените её на странице "Настройки". По умолчанию установлена папка "/etc/wireguard".</p>
            {% endif %}
			<div class="scrollable-container">
				{% for i in conf %}
					<div class="card mt-3 conf_card" data-conf-id="{{i['conf']}}">
						<div class="card-body">
							<div class="row">
								<div class="col card-col" style="max-width: 10%; ">
									<small class="text-muted"><strong>КОНФИГУРАЦИЯ</strong></small>
									<a href="/configuration/{{i['conf']}}" class="conf_link">
										<h6 class="card-title" style="margin:0 !important;"><samp>{{i['conf']}}</samp></h6>
									</a>
								</div>
								<div class="col card-col" style="max-width: 10%; ">
									<small class="text-muted"><strong>СОСТОЯНИЕ</strong></small>
									<h6 style="text-transform: uppercase; margin:0 !important;"><span>{{i['status']}}</span><span class="dot dot-{{i['status']}}"></span></h6>
								</div>
								<div class="col card-col" style="max-width: 10%; ">
									<small class="text-muted"><strong>ПОРТ</strong></small>
									<h6 style="margin:0 !important;"><samp>{{i['port']}}</samp></h6>
								</div>
								<div class="col card-col" style="max-width: 25%; ">
									<small class="text-muted"><strong>ПУБЛИЧНЫЙ КЛЮЧ</strong></small>
									<h6 style="margin:0 !important;"><samp>{{i['public_key']}}</samp></h6>
								</div>
								<div class="col-sm index-switch">
									<div class="switch-test">
										<small class="text-muted"><strong>ВЫКЛ/ВКЛ</strong></small><br>
										<input type="checkbox" class="toggle--switch" id="{{i['conf']}}-switch" {{i['checked']}} data-conf-id="{{i['conf']}}">
										<label for="{{i['conf']}}-switch" class="toggleLabel"></label>
									</div>
									<button type="button" id = "toggleDeleteConfiguration" class="btn btn-secondary delete_btn"><i class="bi bi-trash-fill" style="color: rgb(148, 149, 151);"></i></button>
								</div>
							</div>
							<div class="card-message"></div>
						</div>
					</div>	
				{%endfor%}
			<div>
		</main>
	</div>
	<div class="position-fixed top-0 right-0 p-3 toastContainer" style="z-index: 5; right: 0; top: 50px;"></div>
	<div class="modal fade" id="addConfigurationModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Добавить новую конфигурацию</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="addCconfigurationAlert" class="alert alert-danger alert-dismissible fade show d-none" role="alert">
                        <div class="alert-body"></div>
					</div>
                    <pre id="addCconfigurationAlertMessage" class="index-alert d-none"></pre>
					<form id="add_configuration_form">
                        <div class="form-group">
                            <div>
                                <label for="addConfigurationPrivateKey">Закрытый ключ<code>*</code></label>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control codeFont" id="addConfigurationPrivateKey" name="addConfigurationPrivateKey" required>
                                <div class="input-group-append">
                                   <button type="button" class="btn btn-danger" id="reGeneratePrivateKey" data-toggle="tooltip" data-placement="top" title="Regenerate Key"><i class="bi bi-arrow-repeat"></i></button>
                                </div>
                                <div id="addConfigurationPrivateKeyFeedback" class="input-feedback"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="addConfigurationName">Название конфигурации <code>*</code></label>
                                    <input type="text" class="form-control" id="addConfigurationName" name="addConfigurationName" required>
                                    <div id="addConfigurationNameFeedback" class="input-feedback"></div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="addConfigurationListenPort">Прослушиваемый порт <code>*</code></label>
                                    <input type="number" class="ыform-control codeFont" id="addConfigurationListenPort" name="addConfigurationListenPort" required>
                                    <div id="addConfigurationListenPortFeedback" class="input-feedback"></div>
                                </div>
                            </div>
                        </div>
						<div class="row">
							<div class="col-sm">
								<div class="form-group">
									<label for="addConfigurationAddress">IP-адрес<code>*</code>
                                        
                                    </label>
									<input type="text" class="form-control codeFont" id="addConfigurationAddress" placeholder="Ex: 192.168.0.1/24" name="addConfigurationAddress" required>
                                    <div id="addConfigurationAddressFeedback" class="input-feedback"></div>
                                </div>
							</div>
						</div>
                        <hr>
                        <div class="form-group">
                            <label for="addConfigurationPreUp">PreUp</label>
                            <input type="text" class="form-control codeFont" id="addConfigurationPreUp" name="addConfigurationPreUp">
                        </div>
                        <div class="form-group">
                            <label for="addConfigurationPreDown">PreDown</label>
                            <input type="text" class="form-control codeFont" id="addConfigurationPreDown" name="addConfigurationPreDown">
                        </div>
                        <div class="form-group">
                            <label for="addConfigurationPostUp">PostUp</label>
                            <input type="text" class="form-control codeFont" id="addConfigurationPostUp" name="addConfigurationPostUp">
                        </div>
                        <div class="form-group">
                            <label for="addConfigurationPostDown">PostDown</label>
                            <input type="text" class="form-control codeFont" id="addConfigurationPostDown" name="addConfigurationPostDown"> 
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% include "tools.html" %}
</body>
{% include "footer.html" %}
<script src="{{ url_for('static',filename='js/wireguard.js') }}"></script>
<script src="{{ url_for('static',filename='js/index.js') }}"></script>
</html>